@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

:root {
    --bgColor: #000;
    --screenCoeff: calc(1vw + 1vh);
}

* {
    margin: 0;
    padding: 0;
}

*::selection {
    background-color: transparent;
    color: rgb(225, 0, 0);
}

body {
    padding: 40px;
    background: var(--bgColor);
    font-family: 'Abel', sans-serif;
}

.img_container {
    width: calc(var(--screenCoeff) * 16);
    height: calc(var(--screenCoeff) * 16);
    background-size: cover;
    background-image: radial-gradient(transparent 40%, var(--bgColor) 70%), url('mickey_with_flashlight.gif');
}

.container {
    display: flex;
    flex-direction: row;
}

.fadein_text {
    margin: calc(var(--screenCoeff) * 8) 1em;
    font-size: calc(var(--screenCoeff) * 3);

    background: 0% 0% / 10% 50% no-repeat radial-gradient(ellipse at top left, #fff, transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: reveal 6000ms ease-in alternate infinite 1000ms;
}

@media screen and (max-width: 768px) {
    .fadein_text {
        font-size: calc(var(--screenCoeff) * 2);
    }
}

@keyframes reveal {
    100% {
        background-size: 300% 800%;
    }
}
